*,body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
    list-style-type: none;

}


.d-flex {
    display: flex;
    align-items: center;
}

.d-flex-c {
    display: flex;
    align-items: center;
    justify-content: center;
}

.d-flex-space-bet {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.d-flex-space-around {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.gap-sm {
    gap: 7px;
}

.gap-md {
    gap: 20px;
}