*,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    direction: rtl;
}

/* FONT -- START */

@font-face {
    font-family: "peyda";
    font-style: normal;
    font-weight: 700;
    src: url("../assets/fonts/PEYDA/MAIN/woff2/PeydaWebFaNum-SemiBold.woff2")
            format("woff2"),
        url("../assets/fonts/PEYDA/MAIN/woff/PeydaWebFaNum-SemiBold.woff")
            format("woff");
}

@font-face {
    font-family: "Casablanca";
    src: url("../assets/fonts/Casablanca.ttf") format("truetype");
}

/* FONT -- END */

/* LOCALSTYLE -- START */

* {
    font-family: peyda;
}

:root {
    --bg-main: #eff2e6;
    --btn-main-color: #a3c348;

    --font-xs: 14px;
    --font-md: 20px;
    --font-md: 24px;
}

ul {
    list-style: none;
    list-style-type: none;
}

button {
    background: none;
    border: none;
    text-align: center;
    cursor: pointer;
    animation-duration: 1s;
}

a {
    text-decoration: none;
}

li {
    display: inline-flex;
}

.d-flex {
    display: flex;
    align-items: center;
}

.d-flex-c {
    display: flex;
    align-items: center;
    justify-content: center;
}

.d-flex-space-bet {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.d-flex-space-around {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.gap-sm {
    gap: 7px;
}

.gap-md {
    gap: 20px;
}


/* ICONS FONTS */

.i-xs {
    font-size: 20px;
}
.i-sm {
    font-size: 25px;
}
.i-md {
    font-size: 30px;
}


/* LOCALSTYLE -- END */



/* CAROUCEL UI */

.carousel {
  position: relative;
  max-width: 100%;
  margin-left: 10px;
}
.carousel__btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #cccccc;
  color: #000;
  font-size: 10px;
  border: none;
  padding: 9px;
  cursor: pointer;
  z-index: 1;
  transition: background-color 0.3s;
  border-radius: 10px;
}
.carousel__btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
}
.carousel__btn--prev {
  left: -15px;
}
.carousel__btn--next {
  right: -15px;
}
.carousel__img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease-in-out;
  border-radius: 15px;
}
.carousel__img:hover {
  cursor: pointer;
}


/*  BUTTONS UI -- START */

.btn-full__bg{
    margin-top: 70px;
    padding: 10px ;
    width: 100%;
    border-radius: 9px;
    border: 1px solid var(--btn-main-color);
    display: flex;
    align-items: center;
    gap: 1px;
    background-color: #80ad01;
    color: #fff;
    justify-content: center;

    span {
        display: inline-flex;
    }
}

.btn-full__bg:hover{
    background-color: var(--btn-main-color);
    color: #fff;
}

.btn-outline {
    padding: 10px 30px;
    border-radius: 9px;
    border: 1px solid var(--btn-main-color);
    display: flex;
    align-items: center;
    gap: 1px;

    span {
        display: inline-flex;
    }
}

.btn-outline:hover {
    background-color: var(--btn-main-color);
    border-color: #fff;
    color: #fff;
}

/* BUTTONS UI -- END*/

