@media only screen and (max-width: 768px) {
    .nav_main_md{
        flex-direction: row-reverse;
    }
    .ul_nav_link_md {
        display: none;
    }
    
    .content-menu-nav{
        position: relative;
    }
}


@media only screen and (min-width: 769px) {
    .content-menu-nav{
        display: none;
        flex-direction: row-reverse;
    }
}