.nav{
    width: 100%;
    margin-inline: auto;
    border-bottom: 1px solid var(--bg-main);
    padding: 10px;
}

.nav > div {
    width: 96%;
    margin-inline: auto;
}

.btnEffect li:hover{
    color: var(--btn-main-color);
}







