.mainsection {
    padding: 10px 20px;
    width: 95%;
    margin-inline: auto;
    background-color: var(--bg-main);
    margin-top: 20px;
    border-radius: 7px;
}

.gropbutton {
    padding: 4px 4px;
    border: 1px solid gray;
    border-radius: 10px;
    display: flex;
    gap: 30px;
}

.gropbutton > button:nth-child(1) {
    background-color: #d9ddcb;
}

.gropbutton > button {
    font-size: var(--font-sm);
    padding: 7px 20px;
    color: #a5a7a1;
    font-weight: bold;
    border-radius: 10px;
}
.gropbutton > button:hover {
    background: #d9ddcb;
}

.mainsection_head {
    padding: 5px;
}

/* CONTAINER PRODUCTS */
.container_products {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    place-items: center;
    gap: 10px;
    padding-bottom: 10px;
}

.body_navlink{
    display: grid;
    place-items: center;
    color: gray;
}

.body_navlink > h1{

}
